body {
    background: #1F2437;
    height: 100%;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(../assets/montserrat/Montserrat-Bold.otf);
}


#page1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.p1-1, .p1-2, .p1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1-2 {
  margin-top: 8px;
}

.p1-3 {
    margin-top: 90px;
}

#page2 {
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.p2-2{
  display: flex;
  margin-top: 90px;
}

.p22-i {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.p22-i input {
  margin-right: 12px;
}

.text-p2{
  padding-left: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
}

.p22-2{
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}

.small-icon {
  height: 38px;
  width: auto;
}

  #page2, #page3, #page31, #page4, #page5, #page6, #page61, #page62, #page63, #page7, #page8, #page9, #page32, #page33 {
    display:none;
  }

  #page5 {
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
  }

  .p5-1{
    display: flex;

  }

  .p51-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p51-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
  }

  .p51-2 p {
    width: 360px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  #page4 {
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  #page3, #page31, #page32, #page33 {
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
  }

  .p3-1, .p31-1 {
    display: flex;
  }

  .p31-1{
    flex-direction: row;
    width: 70%;
  }

  .pp31-1, .p311-1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 72px;
  }

  .p3a-t-1, .p3b-t-1{
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  .p3a-t-1 span,
  .p3b-t-1 span {
    color: #FFC107;
  }

  .p3a-t-2, .p3b-t-2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 41px;
    color: #FFFFFF;
  }

  .youtubeposition {
      overflow: hidden;
      width:70%;
      display: flex;
      justify-content: center;
  }

  .youtubeposition::after {
      content: '';
  }


  .text1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
  }
  .text2 {
    /* Phone Battery */
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }
  .text4 {
    /* What do you think the battery is made of? */
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 72px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }

  .text4a {
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 8px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }
  .text5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  .text6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    color: #BDBDBD;
  }

  .text11 {
    /* Battery */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
  }
  .text12 {
    /* Next */
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }

  .radio1 {
    /* Ellipse 1 */
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
  }
  .radio2 {
    /* Ellipse 1 */
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
  }
  .radio3 {
    /* Ellipse 1 */
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
  }
  .radio4 {
    /* Ellipse 1 */
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
  }


  .img5 {
    /* Vector */
    height: 38px;
    width: 38px;
    display:none;
  }

  .button1 {
    /* Group 6 */
    width: 166px;
    height: 56px;
    background: #4E53C2;
    border-radius: 8px;
    border-color: #1F2437;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #fff;
    /* identical to box height */
    text-align: center;
  }

  .action-button {
    margin-top: 90px;
  }

  .button2 {
    /* Group 6 */

    background: #636363;
    border-radius: 8px;
    padding: 4px 40px 4px 40px;
    border-width: 0;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #BDBDBD;
  }

  .button3 {
    /* Group 6 */
    margin-top: 50px;
    background: #FFC107;
    border-radius: 8px;
    padding: 4px 40px 4px 40px;
    border-width: 0;
  }
  .button4 {
    /* Group 6 */
    margin-top: 50px;
    background: #FFC107;
    border-radius: 8px;
    padding: 4px 40px 4px 40px;
    border-width: 0;
    display:none;

    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
  }

  .button-clean{
    border: 2px solid #fff;
    background-color:  transparent;
    box-sizing: border-box;
    border-radius: 6px;
    width: 191px;
    height: 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 0px 0px 50px;
  }
  .rectangle1 {
    /* Rectangle 2 */
    min-width: 263px;
    max-width: 263px;
    height: 338px;
    background: #4E53C2;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  .rec1-1 {
    padding-top: 120px;
    padding-bottom: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .diagram {
    /* Group 8 */
    background-image: url("../assets/dragdrop.png");
    background-repeat: no-repeat;
    background-size: 457px 371.5px;
    width: 457px;
    height: 371.5px;
    margin-top: 72px;
  }

  #dragdrop{
    position: relative;
  }

  #div1 {
    position: absolute;
    left: 180px;
    top: -25px;
    width: 140px;
    height: 40px;
    background: #E6E6E6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  #div2 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 150px;
    left: -60px;
    background: #E6E6E6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  #div1 img,
  #div2 img{
    height: 40px;
  }


  .img7 img,
  .img8 img{
    width: 140px;
  }

  .img9 img{
    width: 160px;
  }

  .img10 img{
    width: 120px;
  }

  #page6, #page61, #page62, #page63 {
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  #page7{
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  .p7-con1 {
    max-width: 820px;
    margin: 0 15% 0 15%;
  }


  .p7-1 {
    position: relative;

  }

  .p71-2 {
    position: absolute;
    left: 12px;
    bottom: 24px;
    display: flex;
    align-items: center;
  }

  #p7-background{
    border-radius: 0px 0px 8px 8px;
    background-image: url(../assets/gray_bg.png);
    background-repeat: no-repeat;
    background-size: 820px 359px;
    width: 820px;
    height: 359px;
  }

  #face {
    position: absolute;
    right: 52px;
    bottom: 23px;
  }

  .p71-1 {
    background-color: #4C536A;
    border-radius: 8px 8px 0px 0px;
  }

  .p71-1 p {
    color: #fff;
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    margin: 0px;
    padding: 8px 0px 12px 8px;
  }



  #page7 .button2 {
    margin-top: 14px;
    background: #636363;
    border-radius: 8px;
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #BDBDBD;
  }

  .p7-2 p,
  .p7-3 p {
    color: #fff;
    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    margin: 24px 0 0 0;
    padding: 8px 0px 12px 8px;
  }

  .p7-3 textarea {
    background: #F0F0F0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 100px;
    padding: 14px;
    color: #000000;
  }

  .p712-i {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(148, 148, 148, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;

  }

  .p712-i img {
    width: 56px;
    height: 56px;
  }

  .slidecontainer input {
    width: 90%;
  }

  .slidecontainer span {
    color: #fff;
  }

  #page8 {
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }

  #page8 .text5 {
    width: 60%;
    line-height: 32px;
  }

  #page9 {
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  }

  #page9 .p9-img {
    height: 272px;
    width: 272px;
  }

  #page9 .button3{
    font-family: Montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;
  }

  .p1-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
  }

  .p1-4 p{
    font-family: Hind;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 2px 0px 0px 0px;
  }

  .p1-4 img {
    margin: 8px 0px 8px 0px;
  }

  .p6-feedback-t {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  .p6-i {
    display: flex;
    width: 80%;
    align-items: center;

  }

  .inline-blue {
    color: #9BFCFF;
    font-weight: bold;
  }

  .inline-orange {
    color: #FFC107;
    font-weight: bold;
  }

  .inline-red {
    color: #ED405F;
    font-weight: bold;
  }

  .inline-mint {
    color: #66ECCC;
    font-weight: bold;
  }
